.sideComponent {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  width: 100%;
  padding: 8px;
  box-shadow: 2px 2px 13px 4px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 2px 2px 13px 4px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 2px 2px 13px 4px rgba(0, 0, 0, 0.49);
}

.menuList {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.menuItem {
  display: flex;
  text-align: left;
  margin: 8px 0 0 0;
}

.menuItem:nth-child(1) {
  margin: 0;
}

.menuItem a {
  text-decoration: none;
  text-decoration-color: black;
  color: black;
}

.menuItem a:hover {
  text-decoration: none;
  text-decoration-color: black;
  color: black;
  font-weight: 600;
}
