.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 700px;
  justify-content: space-between;
}

.topo {
  background: linear-gradient(89deg, #163b4e 3%, #3aa5d2 98%);
  display: flex;
  flex-direction: column;
}

.sidebar {
  display: flex;
  width: 250px;
  padding: 24px 8px 24px 8px;
}
.conteudo {
  display: flex;
  width: 100%;
  padding: 24px 8px 8px 8px;
  margin: 24px;
  flex-direction: column;
  border-radius: 4px;

  box-shadow: 2px 2px 13px 4px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 2px 2px 13px 4px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 2px 2px 13px 4px rgba(0, 0, 0, 0.49);
}
.rodape {
  background-color: #15212a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
