.container {
  display: flex;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 768px;
  justify-content: space-between;
}

.topo {
  background: linear-gradient(89deg, #163b4e 3%, #3aa5d2 98%);
  display: flex;
  flex-direction: column;
}

.sidebar {
  display: flex;
  width: 250px;
  padding: 24px;
}
.conteudo {
  display: flex;
  width: 100%;
  padding: 24px;
}
.rodape {
  background-color: #15212a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
